@import "./themes/catpuccin/mocha.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: alpha(@surface0, .9);
}

button {
  background-color: alpha(@surface1, .5);
  border-radius: 24px;
  margin: 24px;
  border-color: @base;
  color: @text;
  border-style: solid;
  border-width: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  outline-style: none;
}

button:focus {
  background-color: alpha(@surface2, .5);
  border-color: @sky;
}

button:active, button:hover {
  background-color: @surface2;
  border-color: @red;
}
