"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

[cmd_duration]
disabled = true

[gradle]
disabled = true

[git_branch]
disabled = true

[git_commit]
disabled = true

[java]
disabled = true

[kotlin]
disabled = true

[custom.jj]
command = "prompt"
format = "$output"
ignore_timeout = true
shell = ["starship-jj", "--ignore-working-copy", "starship"]
use_stdin = false
when = true
