@import "colors";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", monospace; // Change to your font
}

.bar-window {
  background-color: transparent;
  color: $color-text;
}

.bar-container {
  padding: 0 10px;
}

.module {
  background-color: $color-surface0;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 5px;
}

.workspaces {
  button {
    transition: all 0.2s ease-in-out;
    background-color: $color-lavender;
    opacity: 0.5;
    /* padding: 4px 10px; */
    border-radius: 8px;
    margin: 0 2px;
    min-width: 40px;

    &:hover {
      background-color: $color-surface1;
    }

    &.active {
      background-color: $color-sky;
      border-radius: 1rem;
      opacity: 1.0;
      border-radius: 50%;
      background-color: $color-blue;
      color: $color-base;
    }
  }
}
